Amg-ingressos-aqui-eventos-api/bin/
Amg-ingressos-aqui-eventos-api/obj/
.vscode/
Amg-ingressos-aqui-eventos-tests/bin/
Amg-ingressos-aqui-eventos-tests/obj/
Amg-ingressos-aqui-eventos-api/images/

# User-specific files
*.suo
*.vsidx
*.dtbcache.v2

# Config files
applicationhost*.config

# Lock files
read*.lock
.vs/
Amg-ingressos-aqui-eventos-api/out/
